.container {
  margin: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 30px);
  box-shadow: #b0b0b0 0px 8px 16px 1px;
  border-radius: 8px;

  h3 {
    text-align: center;
    color: rgb(138, 136, 136);
  }

  img {
    border-radius: 100px;
    width: 200px;
  }

  .description {
    max-height: 100px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    cursor: pointer;
  }

  .all-text {
    overflow: initial;
    max-height: none !important;
  }
}
